<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rssCloud v2: Documentation</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    {{{htmltext}}}
    
    <p class="mt-20">
        <a href="/">← Back to Home</a>
    </p>
</body>
</html>
