<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>rssCloud v2: Documentation</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    {{{htmltext}}}
</div>
</body>
</html>
