<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>rssCloud: Log</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>rssCloud</h1>
    </div>

    <ul>
        <li><a href="/pingForm">Ping Form</a></li>
        <li><a href="/viewLog">View Log</a></li>
    </ul>
</div>
</body>
</html>
