<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>rssCloud: Log</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>rssCloud: Ping</h1>
        <p>Posting to /ping is your way of alerting the server that a resource has been updated.</p>
    </div>

    <form method="POST" action="ping">
        <div class="form-group">
            <label for="url">Resource URL</label>
            <input type="text" class="form-control" id="url" name="url">
        </div>
        <button type="submit" class="btn btn-default">Ping</button>
    </form>
</div>
</body>
</html>
