<div class="modal" id="headers{{id}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <ul>
                    {{#each headers}}
                    <li><strong>{{@key}}:</strong> {{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
