<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <title>{{#if title}}{{title}}{{else}}rssCloud Server: Documentation{{/if}}</title>
        <link href='/css/style.css' rel='stylesheet' />
    </head>
    <body>
        {{#if heading}}<h1>{{heading}}</h1>{{/if}}
        {{{htmltext}}}

        <p class='mt-20'>
            <a href='/'>← Back to Home</a>
        </p>
    </body>
</html>